@{
    Layout = "_Layout1";
}

@section header{
   <header id="mainHeader">
            <a href="/" title="home" class="logo">
                <!-- I need this div because IE is an affront to mankind-->
                <div>
                    <h1>Explore California</h1>
                </div>
            </a>
            <nav id="siteNav">
                <h1>Where do you want to go?</h1>
                <ul>
                    <li>
                        <a href="/tours.htm" title="Our tours">Tours <br /><span class="tagline">follow our bliss</span></a>
                        <ul>
                            <li><a href="/tours.htm" title="Our tours">All Tours</a></li>
                            <li><a href="/tours.htm" title="find tours">Tours by Activity</a></li>
                            <li><a href="/tours.htm" title="find tours">Tours by Region</a></li>
                            <li><a href="/tours.htm" title="find tours">Tour Finder</a></li>
                        </ul>
                    </li>
                    <li><a href="mission.htm" title="What we believe">Mission <br /><span class="tagline">what makes us different?</span></a></li>
                    <li>
                        <a href="resources.htm" title="planning resources">Resources <br /><span class="tagline">plan your trip</span></a>
                        <ul>
                            <li><a href="resources/faq.htm" title="Got questions?">Tour FAQs</a></li>
                            <li><a href="resources/additional_resources.htm" title="additional resources">Tour Information</a></li>
                            <li><a href="resources/terms.htm" title="terms and conditions">Site Terms</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="explorers.htm" title="Our community">Explorers <br /><span class="tagline">join our community</span></a>
                        <ul>
                            <li><a href="explorers/join.htm" title="join our community">Join the Explorers</a></li>
                            <li>@Html.ActionLink("Read Our Blog", "Index", "Blog")</li>
                            <li><a href="explorers/gallery.htm" title="contributor photos">Tour Photos</a></li>
                            <li><a href="_video/EC_podcast_full version.mov" title="check out our podcast">Video podcast</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="contact.htm" title="contact us" class="last">Contact <br /><span class="tagline">we're listening</span></a>
                        <ul>
                            <li><a href="support.htm" title="need help?">Support</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>}
<article id="mainArticle">
    <h1>Tour Spotlight</h1>
    <p class="spotlight">This month's spotlight package is Cycle California. Whether you are looking for some serious downhill thrills to a relaxing ride along the coast, you'll find something to love in Cycle California.<br /> <span class="accent"><a href="/tours_cycle.htm" title="Cycle California">tour details</a></span></p>
    <h1>Explorer's Podcast</h1>
    <video controls poster="/images/podcast_poster.jpg" width="512" height="288" preload="none">
        <source src="_video/podcast_teaser.mp4" type="video/mp4" />
        <source src="_video/podcast_teaser.webm" type="video/webm" />
        <source src="_video/podcast_teaser.theora.ogv" type="video/ogg" />
    </video>
    <p class="videoText">Join us each month as we publish a new Explore California video podcast, with featured tours, customer photos, and some exctiing new features!<span class="accent"><a href="explorers/video.htm" title="Video Podcast">Watch the full video</a></span></p>
</article>